{% extends 'view/layout/base.html' %} {% block body %} {% set customer =
data.customer %} {% set rentals = data.customer.rentals %}

<div class="level-left">
    <div class="level-item">
        <h1 class="title is-1">
            {{"Editing customer with ID: " + customer.id if customer.id else
            "New Customer"}}
        </h1>
    </div>
</div>
<hr />

<form action="/customer/save" method="POST">
    <input type="hidden" name="id" value="{{customer.id}}" readonly />

    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Fist Names</p>
                <input
                    class="input is-rounded has-text-centered"
                    type="text"
                    name="fist-names"
                    placeholder="Jhon"
                    value="{{customer.firstNames}}"
                    required
                />
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Last Names</p>
                <input
                    class="input is-rounded has-text-centered"
                    type="text"
                    name="last-names"
                    placeholder="Locke"
                    value="{{customer.lastNames}}"
                    required
                />
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">document Type</p>
                <input
                    class="input is-rounded has-text-centered"
                    type="text"
                    name="document-type"
                    placeholder="DNI"
                    value="{{customer.documentType}}"
                    required
                />
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Document Number</p>
                <input
                    class="input is-rounded has-text-centered"
                    type="number"
                    name="document-number"
                    placeholder="29485767"
                    value="{{customer.documentNumber}}"
                    required
                />
            </div>
        </div>
    </nav>

    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Nationality</p>
                <div class="select is-rounded">
                    <select name="nationality" required>
                        <option
                            disabled
                            selected
                            value="{{customer.nationality}}"
                        >
                            {{customer.nationality if customer.nationality else
                            "Select Nationality"}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Address</p>
                <input
                    class="input is-rounded has-text-centered"
                    type="text"
                    name="address"
                    placeholder="Westminster 234"
                    value="{{customer.address}}"
                    required
                />
            </div>
        </div>

        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Phone</p>
                <input
                    class="input is-rounded has-text-centered"
                    type="number"
                    name="phone"
                    placeholder="28394859"
                    value="{{customer.phone}}"
                    required
                />
            </div>
        </div>

        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Email</p>
                <input
                    class="input is-rounded has-text-centered"
                    type="email"
                    name="email"
                    placeholder="jhonLocke@gmail.com"
                    value="{{customer.email}}"
                />
            </div>
        </div>
    </nav>
    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Birth Date</p>
                <input
                    class="input is-rounded has-text-centered"
                    type="date"
                    name="birth-date"
                    max="2002-12-31"
                    value="{{customer.birthDate}}"
                    required
                />
            </div>
        </div>
    </nav>

    <input type="submit" class="button is-primary is-large" value="Save" />
    <span><a class="button is-dark is-large" href="/customer">Cancel</a></span>
    <hr />
</form>

<h1 class="title is-1">Historical Rentals</h1>
{% for rental in rentals %}
<div class="columns is-vcentered  ">
      <div class="column">
          <div class="content">
              <p class="subtitle is-5">
                  <nav class="level">

                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">Car Id</p>
                        <p class="title">{{rental.carId}}</p>
                      </div>
                    </div>

                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">Start Date</p>
                        <p class="title">{{rental.startDateForInput}}</p>
                      </div>
                    </div>

                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">End Date</p>
                        <p class="title">{{rental.endDateForInput}}</p>
                      </div>
                    </div>

                    <div class="level-item has-text-centered">
                        <div>
                          <p class="heading">is Paid</p>
                          <p class="title">
                            {% if rental.isPaid %}
                              <i class="fas fa-check"></i>
                            {% else %}
                             <i class="fas fa-times"></i>
                            {% endif %}
                        </p>
                        </div>
                      </div>

                    </nav>
              </p>
          </div>
      </div>
      {% if admin %}
      <div class="column is-narrow">
        <div>
            <button class="delete action-delete" data-id="{{rental.id}}" data-name="">
            </button>
          </div>
        <div>
          <a href="/rental/view/{{rental.id}}"><i class="fas fa-pen"></i></a>
        </div>
      </div>
      {% endif %}
    </div>

{% endfor %}

<script src="/public/js/customer.form.nationality.js"></script>
{% endblock %}
