{% extends 'view/layout/base.html' %} {% block body %}

{% for error in errors %}

<div class="notification is-danger">{{error}}</div>
{% endfor %} {% for message in messages %}
<div class="notification is-success">{{message}}</div>

{% endfor %}
<nav class="level-right">
    <div class="level-item">
        <a href="/customer/create" class="button is-primary is-large">
            <span class="icon"><i class="fas fa-plus-circle"></i></span>
            <span>Add</span>
        </a>
    </div>
</nav>

<div class="table-container">

  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <article class="message is-warning">
        <div class="message-header">
          <p>Warning</p>
          <button class="modal-cancel-button delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          Are you sure you want to delete the Customer with id
      </article>
      <a href="/" class="modal-delete-button button is-danger">Yes, Delete</a>
      <button href="/customer" class="modal-cancel-button button is-dark">Cancel</button>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

    {% for customer in data.customers %}
    <div class="columns is-vcentered is-marginless  ">
      <figure class="image is-128x128">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1024px-Circle-icons-profile.svg.png" >
      </figure>
        <div class="column">
            <div class="content">
                <p class="title is-3">{{customer.firstNames}} {{customer.lastNames}} {{customer.id}} </p>
                <p class="subtitle is-5">
                    <nav class="level">
                        <div class="level-item has-text-centered">
                          <div>
                            <p class="heading">Phone</p>
                            <p class="title">{{customer.phone}}</p>
                          </div>
                        </div>
                        <div class="level-item has-text-centered">
                          <div>
                            <p class="heading">Email</p>
                            <p class="title">{{customer.email}}</p>
                          </div>
                        </div>
                        <div class="level-item has-text-centered">
                          <div>
                            <p class="heading">Address</p>
                            <p class="title">{{customer.address}}</p>
                          </div>
                        </div>
                          <div class="level-item has-text-centered">
                            <div>
                              <p class="heading">document number</p>
                              <p class="title">
                                  {{customer.documentNumber}}
                              </p>
                            </div>
                          </div>
                      </nav>
                </p>
            </div>
        </div>
        {% if admin %}
        <div class="column is-narrow">
          <div>
              <button class="delete action-delete" data-id="{{customer.id}}" data-name="{{customer.firstNames}} {{customer.lastNames}}">
              </button>
            </div>
          <div>
            <a href="/customer/view/{{customer.id}}"><i class="fas fa-pen"></i></a>
          </div>
        </div>
        {% endif %}
      </div>
    {% endfor %}
</div>
{% endblock %} {% block footerScripts %}
<script src="/public/js/customer.index.js"></script>
{% endblock %}
